<%= form_with(model: @post, html: { class: "w-full max-w-lg mx-auto" }) do |form| %>
  <div class="flex flex-col">
    <%= form.label :title %>
    <%= form.text_field :title, class: "border border-gray-400 p-2 rounded text-black" %>
  </div>
  <div class="flex flex-col">
    <%= form.label :body %>
    <%= form.text_area :body, class: "border border-gray-400 p-2 rounded text-black" %>
  </div>
  <div class="flex flex-col">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Post.statuses.keys.map { |k| [k.humanize, k] }), {}, class: "border border-gray-400 p-2 rounded text-black" %>
  </div>
  <div class="flex flex-col">
    <%= form.submit "Create Post", class: "bg-indigo-600 text-white p-2 rounded mt-3 cursor-pointer" %>
  </div>
<% end %>
