  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight sm:text-4xl">
      <%= @post.title %>
    </h1>
    <p class="mt-2 max-w-4xl text-sm text-gray-500">
      by Jhon Doe on <%= @post.created_at.to_fs(:long) %>
    </p>
  </div>

  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6 text-black">
        <%= @post.body %>
      </div>
      <div class="border-t border-gray-200 px-4 py-4 sm:px-6">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 md:grid-cols-3">
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Author
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              Jhon Doe
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Created at
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              <%= @post.created_at.to_fs(:long) %>
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Updated at
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              <%= @post.updated_at.to_fs(:long) %>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
